@use '../../variables.scss';

img {
    height: variables.$search-item-height - 10px;
    max-height: variables.$search-item-height;
    border-radius: 10px;
    margin-right: 10px;
}
p {
    margin: 0;
    width: 100%;
}

mat-icon {
    transition: transform .2s;
}

mat-icon:hover {
    transform: scale(1.3);
}